@import "../../scss/constants";

.section-gameSlider {
  .slick-list {
    width: 100%;
  }
  .slick-track {
    width: 100%;
    display: flex;
    text-align: left;
    align-content: center;
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 11px;
    height: 19px;
    border: none;
    outline: none;
  }
  .slick-arrow.slick-prev {
    left: 0;
    margin-left: -2vw;
    background: url(../svg/arrow_left.svg) 50% 50% no-repeat;
    fill: red;
    color: blue;
    z-index: 30;
  }
  .slick-arrow.slick-next {
    right: 0;
    margin-right: -2vw;
    background: url(../svg/arrow_right.svg) 50% 50% no-repeat;
  }
  .slick-arrow.slick-disabled {
    opacity: 0.5;
  }
  &_slider {
    min-width: 0;
    position: relative;
    text-align: left;
    padding: 10px;
    margin: 0 -10px;
    overflow: hidden;
    &__card {
      height: 300px;
      width: 200px;
      max-width: 200px;
      position: relative;
      display: flex !important;
      align-items: center;
      justify-content: center;
      transition: all 0.45s;
      &-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 10px;
        transition: all 0.45s;
        z-index: 1;
        img {
          display: block;
          height: 100%;
          position: absolute;
        }
        &:after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(81, 58, 123, 0.6);
          opacity: 0;
        }
      }
      &_info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        color: #ffffff;
        opacity: 0;
        transition: all 0.45s;
        &_play {
          margin-top: 70%;
          width: 115px;
          height: 40px;
          box-shadow: 2px 4px 0 #28164e;
          border-radius: 5px;
          border: 2px solid #28164e;
          background-color: #faff01;
          font-size: 14px;
          line-height: 18px;
          color: #2b223a;
          font-weight: 700;
          letter-spacing: 0.02em;
          text-transform: uppercase;
        }
        &_subtitle {
          padding-top: 15px;
          text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
          text-transform: uppercase;
          font-size: 15px;
          font-weight: 700;
          margin-bottom: 0;
          letter-spacing: 1.8px;
          cursor: pointer;
        }
        &__wrap {
          position: absolute;
          bottom: 40px;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0 20px;
          &_like {
            display: block;
            background-image: url(../svg/heart.svg);
            background-repeat: no-repeat;
            width: 15px;
            min-width: 20px;
            height: 13px;
            margin-right: 3px;
          }
          &_nameGame {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 0;
          }
        }
        &_rating {
          position: absolute;
          bottom: 16px;
          font-size: 14px;
          font-weight: 700;
        }
        &_rating:before {
          content: '';
          background: url(../svg/starSmall.svg) 0 0 no-repeat;
          background-size: 100% 100%;
          display: inline-block;
          width: 13.5px;
          height: 13px;
          margin-right: 3px;
        }
      }
      &:hover  {
        transform: scale(1.02,1.02);
        & .section-gameSlider_slider__card-bg {
          box-shadow: 0 0 0 4px #000;
          border-radius: 10px;
          box-sizing: border-box;
          &:after {
            opacity: 1;
          }
        }
        & .section-gameSlider_slider__card_info {
          opacity: 1;
          z-index: 1;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .section-gameSlider {
    .slick-arrow.slick-prev, .slick-arrow.slick-next {
      display: none !important
    }
  }
}

@media (max-width: 520px) {
  .section-gameSlider {
    &_slider {
      &__card {
        max-width: 120px;
        max-height: 180px;
        &_info {
          &_play {
            margin-top: 25%;
            width: 104px;
            height: 35px;
          }
          &__wrap {
            padding: 0 13px;
            &_nameGame {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

