.page-button-red {
  display: inline-block;
  background: #FF0636;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  padding: 13px;
  min-width: 228px;
  text-decoration: none;
}

.page-button-pink {
  display: inline-block;
  background: #FF2157;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  padding: 13px;
  min-width: 228px;
  text-decoration: none;
}
