@import "../../scss/constants";

.section-gameList {
  &_wrap {
    width: calc(100% + 7px);
    margin: 0 -3.5px;
    font-size: 0;
    &__card {
      margin: 5px 3.5px;
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      transition: .3s;
      img {
        display: block;
        width: 100%;
        border-radius: 10px;
        transition: .3s;
      }
      &-bg {
        background-color: rgba(81, 58, 123, 0.6);
        width: calc(100% - 7px);
        height: 100%;
        border-radius: 5px;
        border: 4px solid transparent;
        position: absolute;
        opacity: 0;
        transition: .3s;
      }
      &_info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        opacity: 0;
        transition: all 0.45s;
        &_play {
          margin-top: 100px;
          width: 115px;
          height: 40px;
          margin-bottom: 5px;
          box-shadow: 2px 4px 0 #28164e;
          border-radius: 5px;
          border: 2px solid #28164e;
          background-color: #faff01;
          font-size: 14px;
          line-height: 18px;
          color: #2b223a;
          font-weight: 700;
          letter-spacing: 0.02em;
          text-transform: uppercase;
        }
        &_subtitle {
          padding-top: 5px;
          text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
          text-transform: uppercase;
          font-size: 15px;
          font-weight: 700;
          margin-bottom: 0;
          letter-spacing: 1.8px;
          cursor: pointer;
        }
      }
      &__wrap {
        position: absolute;
        bottom: 33px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 15px;
        max-width: 170px;
        max-height: 50px;
        &_like {
          display: block;
          background-image: url(../svg/heart.svg);
          background-repeat: no-repeat;
          width: 15px;
          min-width: 20px;
          height: 13px;
          margin-right: 3px;
        }
        &_nameGame {
          font-size: 14px;
          font-weight: 700;
          margin-bottom: 0;
          text-align: center;
        }
      }
      &_rating {
        position: absolute;
        bottom: 8px;
        font-size: 15px;
        font-weight: 700;
      }
      &_rating:before {
        content: '';
        background: url(../svg/starSmall.svg) 0 0 no-repeat;
        background-size: 100% 100%;
        display: inline-block;
        width: 13.5px;
        height: 13px;
        margin-right: 3px;
      }
    }
    &__card:hover .section-gameList_wrap__card_info {
      opacity: 1;
    }
    &__card:hover img {
      transform: scale(1.05, 1.033);
    }
    &__card:hover {
    }
    &__card:hover .section-gameList_wrap__card-bg {
      transform: scale(1.05, 1.033);
      opacity: 1;
      border: 4px solid #000000;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
    }
  }
  &__moreList {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #fff96b;
    margin: 30px auto 40px auto;
    padding: 5px;
    text-transform: uppercase;
  }
}

@media (max-width: 1300px) {
  .section-gameList {
    &_wrap {
      &__card {
        width: calc(14.28571428571429% - 7px);
        img {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .section-gameList {
    &_wrap {
      &__card {
        width: calc(16.66666667% - 7px);
        img {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .section-gameList {
    &_wrap {
      &__card {
        width: calc(20% - 7px);
        img {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .section-gameList {
    &_wrap {
      &__card {
        width: calc(25% - 7px);
        img {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .section-gameList {
    &_wrap {
      &__card {
        width: calc(33.33333333333% - 7px);
        img {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 430px) {
  .section-gameList {
    &_wrap {
      &__card {
        margin: 0 7.5px;
        width: calc(50% - 15px);
        height: 209px;
        img {
          width: 100%;
          height: 199px;
        }

        &_wrap {
          bottom: 35px;
        }

        &_rating {
          bottom: 11px;
        }

        &-bg {
          width: 144px;
          height: 199px;
        }

        &_info_play {
          margin-top: 80px;
          height: 32px;
          box-shadow: 2px 2px 0 #28164e;
        }
      }
    }
  }
}
