@import "../../scss/constants";

.section-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #271c3f;
  max-width: 1640px;
  margin: 0 auto;
  z-index: 8888;
  &_inner {
    box-sizing: border-box;

    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 50%;
    padding: 10px 15px 15px 0;
  }
  &_burger {
    align-self: center;
    width: 40%;
    .navbar {
      // padding-top: 16px;
      padding: 0;
      &-toggler {
        display: none;
        border: none;
        background-color: #5E4494;
        border-radius: 100%;
        width: 35px;
        height: 35px;
        margin-left: 10px;
        &-icon {
          display: block;
          width: 100%;
          height: 100%;
          background-image: url(/src/images/sandw.png);
          background-position: 50% 50%;
          background-repeat: no-repeat;
        }
      }
      .navbar-collapse {
        .navbar-nav {
          display: flex;
          // justify-content: flex-end;
          align-items: flex-end;
          padding-left: 25px;
          .nav-item {
            margin-bottom: -12px;
            padding: 0 15px;
            .nav-link {
              align-self: flex-end;
              font-weight: bold;
              font-size: 12px;
              line-height: 18px;
              letter-spacing: 0.03em;
              text-transform: uppercase;
              text-decoration: none;
              display: flex;
              flex-direction: column;
              align-items: center;
              color: #fff;
            }
            .nav-img {
              align-self: center;
              margin-bottom: 5px;
              display: block;
            }
          }
        }
      }
    }
  }
  &_logo {
    flex: 0 0 154px;
    text-align: center;
  }
  &_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
    &-padding {
      margin: 0 15px;
    }
    &__reg {
      height: 40px;
      width: 250px;
      background: #faff01;
      border-radius: 2px;
      font-weight: bold;
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
      color: #1c1825;

      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items: center;
    }
    &__log {
      font-weight: bold;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }
    &__acc {
      background: #5E4494;
      border-radius: 48px;
      width: 40px;
      height: 40px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    &__balance {
      background: #413752;
      border-radius: 3px;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      margin-left: 20px;
      &__bal header, &__bonus header {
        font-weight: bold;
        font-size: 10px;
        line-height: 12px;
        color: #FFFFFF;
        margin-bottom: 2px;
        text-transform: uppercase;
      }
      &__bal section, &__bonus section {
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        color: #fff;
      }
      &__bal section {
        color: #FFF96B;
      }
      &__bal section img, &__bonus section img {
        margin-right: 7px;
      }
    }
    &__balance > * {
      margin: 0 15px;
    }
    &__deposit {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      margin-left: 15px;
      background: #FF0636;
      border-radius: 2px;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
      line-height: 18px;
      text-align: center;
      letter-spacing: 0.02em;
      width: 150px;
    }
    // bootstrap
    .dropdown:hover .btn-secondary:after {
      transform: rotate(180deg);
    }

    .dropdown {
      position: relative;
      .btn-secondary {
        background-color: #271c3f;
        border: none;
      }
      .btn-secondary:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 7px 0 7px;
        border-color: #fff transparent transparent transparent;
        margin-left: 15px;
        vertical-align: middle;
        display: inline-block;
        transition: .3s;
      }


      &-menu {
        display: none;
        width: 150%;
        background-color: #271c3f;
        position: absolute;
        top: 100%;
        left: -25%;
        padding: 5px 0;
        border-radius: 0 0 3px 3px;
      }
      .btn-secondary:hover ~ .dropdown-menu, .dropdown-menu:hover {
        display: block;
      }
      &-item {
        width: 100%;
        color: #fff;
        text-decoration: none;
        padding: 4px 15px;
        display: block;
      }
    }
  }
}

@media (max-width: 768px) {
  #navbarNav, .section-header_right__reg, .section-header_right .dropdown {
    display: none;
  }

  .section-header_burger .navbar-toggler {
    display: block;
  }

  .section-header_logo {
    margin-right: auto;
    margin-left: 15px;
  }

  .section-header_right__log {
    background: #FAFF01;
    box-shadow: 0 2px 0 #4F3E1D;
    border-radius: 3px;
    padding: 10px 20px;
    color: #000;
    margin-right: 0;
  }
}
