@import "../../scss/constants";

.section-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #271c3f;
  max-width: 1640px;
  margin: 0 auto;
  z-index: 8888;
  &-sidenav {
    display: none;
    position: fixed;
    top: 48px;
    left: 0;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    height: calc(100% - 48px);
    transition: width .5s;
    background: #231E2C;
    .dropdown {
      background: #0B0A0D;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      &-toggle {
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        padding: 18px;
        background: none;
        display: flex;
        align-items: center;
        align-content: center;
        &:after {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 7px 0 7px;
          border-color: #fff transparent transparent transparent;
          margin-left: 60px;
          vertical-align: middle;
          display: inline-block;
          transition: .3s;
        }
        &.active:after {
          transform: rotate(180deg);
        }
      }
      &-item {
        display: block;
        height: 0;
        overflow: hidden;
        font-size: 14px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        padding: 0 18px;
        text-decoration: none;
        transition: .5s;
        line-height: 0;
      }
      &-menu.active .dropdown-item {
        padding: 18px;
      }
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          display: flex;
          align-items: center;
          justify-content:flex-start;
          padding: 12px 0 12px 17px;
          text-decoration: none;
          color: #fff;
          font-weight: bold;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          &-title {
            display: inline-block;
          }
          .nav-img {
            text-align: center;
            display: inline-block;
            width: 30px;
            margin-right: 10px;
            img {
              width: auto
            }
          }
        }
      }
    }
    .navbar-nav-bottom {
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      .nav-item {
        padding: 12px 0 12px 25px;
        .nav-link {
          font-size: 14px;
          line-height: 16px;
          text-decoration: none;
          text-transform: uppercase;
          color: #FFFFFF;
          mix-blend-mode: normal;
        }
      }
    }
  }
  &-sidenav.active {
    width: 256px;
  }
  &_inner {
    box-sizing: border-box;

    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 50%;
    padding: 10px 15px 15px 0;
  }
  &_burger {
    align-self: center;
    width: 40%;
    .navbar {
      // padding-top: 16px;
      padding: 0;
      &-toggler {
        display: none;
        border: none;
        background-color: #5E4494;
        border-radius: 100%;
        width: 35px;
        height: 35px;
        margin-left: 10px;
        overflow: hidden;
        white-space: nowrap;
        padding: 0;
        font-size: 0;
        &-icon {
          display: inline-block;
          width: 100%;
          height: 100%;
          background-image: url(/src/images/sandw.png);
          background-position: 50% 50%;
          background-repeat: no-repeat;
          transition: transform .5s;
        }
        &-icon-active {
          display: inline-block;
          width: 100%;
          height: 100%;
          background-image: url(/src/images/close.png);
          background-position: 50% 50%;
          background-repeat: no-repeat;
          transition: transform .5s;
          transform: translateX(35px);
        }
      }
      &-toggler.active .navbar-toggler-icon {
        transform: translateX(-35px);
      }
      &-toggler.active .navbar-toggler-icon-active {
        transform: translateX(-35px);
      }
      .navbar-collapse {
        .navbar-nav {
          display: flex;
          // justify-content: flex-end;
          align-items: flex-end;
          padding-left: 25px;
          .nav-item {
            margin-bottom: -12px;
            padding: 0 15px;
            .nav-link {
              align-self: flex-end;
              font-weight: bold;
              font-size: 12px;
              line-height: 18px;
              letter-spacing: 0.03em;
              text-transform: uppercase;
              text-decoration: none;
              display: flex;
              flex-direction: column;
              align-items: center;
              color: #fff;
            }
            .nav-img {
              align-self: center;
              margin-bottom: 5px;
              display: block;
            }
          }
        }
      }
    }
  }
  &_logo {
    flex: 0 0 154px;
    text-align: center;
  }
  &_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
    &-padding {
      margin: 0 15px;
    }
    &__reg {
      height: 40px;
      width: 250px;
      background: #faff01;
      border-radius: 2px;
      font-weight: bold;
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
      color: #1c1825;

      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items: center;
    }
    &__log {
      font-weight: bold;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      &-desk {
        line-height: 13px;
      }
      &-mob {
        display: none;
        line-height: 13px;
      }
    }
    &__acc {
      background: #5E4494;
      border-radius: 48px;
      width: 40px;
      height: 40px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    &__balance {
      background: #413752;
      border-radius: 3px;
      height: 40px;
      margin-left: 20px;
      &__acc {
        display: none
      }
      &__text {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        &__bal header, &__bonus header {
          font-weight: bold;
          font-size: 10px;
          line-height: 12px;
          color: #FFFFFF;
          margin-bottom: 2px;
          text-transform: uppercase;
        }
        &__bal section, &__bonus section {
          font-weight: bold;
          font-size: 12px;
          line-height: 14px;
          color: #fff;
        }
        &__bal section {
          color: #FFF96B;
        }
        &__bal section img, &__bonus section img {
          margin-right: 7px;
        }
      }
      &__text  > * {
        margin: 0 15px;
      }
    }
    &__deposit {
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      margin-left: 15px;
      background: #FF0636;
      border-radius: 2px;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
      line-height: 18px;
      text-align: center;
      letter-spacing: 0.02em;
      width: 150px;
      transition: .3s;
    }
    &__deposit:after {
      content: '';
      position: absolute;
      bottom: -2px;
      height: 2px;
      width: 100%;
      background: #694809;
      border-radius: 0 0 4px 4px;
      transition: .3s;
    }
    &__deposit:active {
      transform: translateY(2px);
    }
    &__deposit:active:after {
      height: 0;
    }
    // bootstrap
    .dropdown:hover .btn-secondary:after {
      transform: rotate(180deg);
    }

    .dropdown {
      position: relative;
      .btn-secondary {
        background-color: #271c3f;
        border: none;
      }
      .btn-secondary:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 7px 0 7px;
        border-color: #fff transparent transparent transparent;
        margin-left: 15px;
        vertical-align: middle;
        display: inline-block;
        transition: .3s;
      }


      &-menu {
        display: none;
        width: 150%;
        background-color: #271c3f;
        position: absolute;
        top: 100%;
        left: -25%;
        padding: 5px 0;
        border-radius: 0 0 3px 3px;
      }
      .btn-secondary:hover ~ .dropdown-menu, .dropdown-menu:hover {
        display: block;
      }
      &-item {
        width: 100%;
        color: #fff;
        text-decoration: none;
        padding: 4px 15px;
        display: block;
      }
    }
  }
}

@media (max-width: 1024px) {
  #navbarNav, .section-header_right__reg, .section-header_right .dropdown {
    display: none;
  }

  .section-header {
    &_inner {
      padding: 4px 15px 4px 0;
    }
    &-sidenav {
      display: block;
    }
    &_burger {
      width: auto;
      .navbar-toggler {
        display: block;
      }
    }
    &_logo {
      margin-right: auto;
      margin-left: 15px;
    }
    &_right {
      width: auto;
      &__acc {
        display: none;
      }
      &__log {
        background: #FAFF01;
        box-shadow: 0 2px 0 #4F3E1D;
        border-radius: 3px;
        padding: 10px 20px;
        color: #000;
        margin-right: 0;
        font-size: 13px;
        text-decoration: uppercase;
        &-desk {
          display: none;
        }
        &-mob {
          display: inline;
        }
      }
      &__balance {
        display: flex;
        align-content: center;
        align-items: center;
        height: 33px;
        &__acc {
          display: block;
          margin-left: 15px;
        }
        &__text {
          flex-flow: column;
          &__bal header, &__bonus header {
            font-size: 10px;
          }
          &__bal section, &__bonus section {
            white-space: nowrap;
          }
          &__bal header, &__bonus header, &__bal section img, &__bonus section img {
            display: none
          }
        }
      }
      &__deposit {
        width: 88px;
        height: 28px;
        font-size: 13px;
      }
    }
  }

  .section-header-auth .section-header_logo,
  .section-header-auth .section-header_right__log {
    display: none
  }
}
