@import "../../scss/constants";

.section-navbar {
  &_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px 10px 0px;
    &_menu_mobile {
      display: none;
      width: 100%;
      .slick-slide {
        width: 30%;
      }
    }
    &_menu {
      display: flex;
      justify-content: start;

      &__link {
        color: #ffffff;
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;
        text-align: left;
        text-transform: uppercase;
        text-decoration: none;
        padding: 5px;
      }
      &__link:hover {
        color: #fff774;
        text-decoration: none;
      }
      &__link + &__link {
        margin-left: 25px;
      }
    }
    &_search {
      width: 250px;
      height: 42px;
      border: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #44365e;

      &_area {
        background: #44365e;

        width: 100%;
        padding-left: 13px;
        color: #fff;
        border: none;
      }
      &_area:focus {
        border: none;
        outline: none;
      }

      &_action {
        height: 100%;
        background-color: #44365e;
        display: block;
        padding: 0 12px 0 10px;
        :focus {
          outline: none;
        }
      }
    }
  }
  &_bot {
    background-color: #382b4f;
    &_inner {
      /* Слайдер */
      .slick-slider {
      }
      /* Ограничивающая оболочка */
      .slick-list {
        width: 100%;
        overflow: hidden;
      }
      /* Лента слайдов */
      .slick-track {
        width: 100%;
        display: flex;
        text-align: left;
        align-content: center;
      }
      /* Слайд */
      .slick-slide {
        align-self: center;
        padding: 0 10px;
        margin: 0 30px 0 0;
      }
      /* Стрелка */
      .slick-arrow {
        position: absolute;
        top: 21px;
        z-index: 10;
        font-size: 0;
        width: 11px;
        height: 19px;
        border: none;
        outline: none;
        opacity: 0.6;
        transition: all 5ms;

        cursor: pointer;
        // color: #813849;
      }
      .slick-arrow:hover {
        opacity: 1;
      }
      /* Стрелка влево */
      .slick-arrow.slick-prev {
        left: 0;
        margin-left: -30px;
        background: url(../svg/arrow_leftGrey.svg);

        background-position: 50% 50%;
        background-repeat: no-repeat;

        z-index: 30;
      }
      /* Стрелка вправо */
      .slick-arrow.slick-next {
        right: 0;
        margin-right: -30px;
        background: url(../svg/arrow_rightGrey.svg);
        background-position: 50% 50%;
        background-repeat: no-repeat;
      }
      /* Стрелка не активная */
      .slick-arrow.slick-disabled {
      }

      height: 60px;
      padding: 5px 0;
      position: relative;

      &__prov {
        :focus {
          outline: none;
          outline-offset: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .section-navbar {
    &_top {
      flex-direction: column;
      &_menu {
        display: none;
      }
      &_menu_mobile {
        display: flex;
        align-items: center;
      }
    }
    &_bot {
      display: none;
    }
  }
}
