@import "../../scss/constants";
//title-category css
@import "../../scss/support";

.section-giftSlider {
  padding-top: 30px;
  .slick-slider {
  }
  /* Ограничивающая оболочка */
  .slick-list {
    width: 100%;
    overflow: hidden;
  }
  /* Лента слайдов */
  .slick-track {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  /* Слайд */
  .slick-slide {
    min-width: 240px;
  }

  /* Стрелка */
  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 11px;
    height: 19px;

    border: none;
    outline: none;
    cursor: pointer;
  }
  /* Стрелка влево */
  .slick-arrow.slick-prev {
    left: 0;
    margin-left: -30px;
    background: url(../svg/arrow_left.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  /* Стрелка вправо */
  .slick-arrow.slick-next {
    right: 0;
    margin-right: -30px;
    background: url(../svg/arrow_right.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .slick-arrow.slick-disabled {
    opacity: 0.5;
  }

  &_slider {
    margin-top: 20px;
    position: relative;
    &__item {
      width: 240px;
      height: 465px;
      text-transform: uppercase;
      padding-top: 50px;

      &_card {
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 240px;
        height: 400px;
        background-color: #fff;
        border-radius: 5px;
        border: 3px solid #8626ff;

        box-shadow: 0 1px 1px #8351c0;

        &_header {
          position: relative;
          width: 100%;
          background-image: url(/src/svg/bgGift2.svg);
          background-repeat: no-repeat;
          background-size: contain;
          border-radius: 0%;
          height: 170px;
          &_visual {
            width: 100%;
            display: block;
            margin-top: -50px;
          }
          &__subtitle {
            position: absolute;
            font-weight: 900;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            top: 50px;
            left: 0;
            right: 0;

            color: #8740ff;
          }
        }

        &_content {
          flex: 1 auto;
          max-height: 170px;
          overflow: hidden;
          width: 100%;

          &__status {
            font-size: 10px;
            line-height: 12px;
            text-align: center;
            text-transform: uppercase;
            color: #787878;
          }
          &__timer {
            padding: 3px 0 12px 0;
            font-family: Digital Numbers;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 26px;
            text-align: center;
            letter-spacing: -0.2em;
            text-transform: uppercase;

            color: #ff0637;
          }
          &_info {
            // width: 100%;
            padding: 0 20px;
            &__string {
              display: flex;
              width: 200px;
              text-transform: none;

              justify-content: space-between;

              &_description {
                font-size: 12px;
                line-height: 18px;
                color: #787878;
              }
              span {
                align-self: start;
                text-align: left;
                display: block;
                font-weight: bold;
                font-size: 12px;
                line-height: 18px;
                /* or 150% */

                color: #171717;
                min-width: 52px;
              }
            }
          }
        }

        &__activation {
          // align-self: end;
          display: block;
          margin: 10px 0px 20px 0px;
          font-weight: 900;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          color: #ffffff;
          background: #ff0637;
          border-radius: 5px;
          width: 186px;
          height: 40px;
        }
      }
    }
  }
}
