@import "../../scss/constants";
@import "../../scss/support";

.section-giftSlider {
  padding-top: 30px;
  .slick-list {
    width: 100%;
    overflow: hidden;
  }
  .slick-track {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .slick-slide {
    min-width: 240px;
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 11px;
    height: 19px;

    border: none;
    outline: none;
    cursor: pointer;
  }
  .slick-arrow.slick-prev {
    left: 0;
    margin-left: -2vw;
    background: url(../svg/arrow_left.svg) 50% 50% no-repeat;
  }
  .slick-arrow.slick-next {
    right: 0;
    margin-right: -2vw;
    background: url(../svg/arrow_right.svg) 50% 50% no-repeat;
  }
  .slick-arrow.slick-disabled {
    opacity: 0.5;
  }
  &_slider {
    margin-top: 20px;
    position: relative;
    &__item {
      width: 240px;
      height: 465px;
      text-transform: uppercase;
      padding-top: 50px;
      &_card {
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 240px;
        max-width: 100%;
        box-sizing: border-box;
        height: 400px;
        background-color: #fff;
        border-radius: 5px;
        border: 3px solid #8626ff;
        box-shadow: 0 1px 1px #8351c0;
        &_header {
          position: relative;
          width: 100%;
          background-image: url(/src/svg/bgGift2.svg);
          background-repeat: no-repeat;
          background-size: contain;
          border-radius: 0%;
          height: 170px;
          &_visual {
            width: 100%;
            display: block;
            margin-top: -50px;
          }
          &__subtitle {
            position: absolute;
            font-weight: 900;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            top: 50px;
            left: 0;
            right: 0;
            color: #8740ff;
          }
        }
        &_content {
          flex: 1 auto;
          max-height: 170px;
          overflow: hidden;
          width: 100%;
          &__status {
            font-size: 10px;
            line-height: 12px;
            text-align: center;
            text-transform: uppercase;
            color: #787878;
          }
          &__timer {
            padding: 3px 0 12px 0;
            font-family: Digital Numbers;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 26px;
            text-align: center;
            letter-spacing: -0.2em;
            text-transform: uppercase;
            color: #ff0637;
          }
          &_info {
            padding: 0 20px;
            &__string {
              display: flex;
              width: 200px;
              text-transform: none;
              justify-content: space-between;
              &_description {
                font-size: 12px;
                line-height: 18px;
                color: #787878;
              }
              span {
                align-self: start;
                text-align: left;
                display: block;
                font-weight: bold;
                font-size: 12px;
                line-height: 18px;
                color: #171717;
                min-width: 52px;
              }
            }
          }
        }
        &__activation {
          display: block;
          margin: 10px 0 20px 0;
          font-weight: 900;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          color: #ffffff;
          background: #ff0637;
          border-radius: 5px;
          width: 186px;
          height: 40px;
          text-transform: uppercase;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .section-giftSlider {
    .slick-slide {
      min-width: 50vw;
      max-width: 50vw;
    }
    &_slider {
      &__item {
        max-width: 100%;
        max-height: 83.375vw;
        &_card {
          max-width: 100%;
          max-height: 100%;
          &_header {
            max-height: 33vw;
            &_visual {
              margin-top: -10vw;
            }
            &__subtitle {
              top: 28%;
              font-size: 10px;
            }
          }
          &_content_info {
            padding: 0 4vw;
            &__string {
              max-width: 100%;
              &_description, span {
                font-size: 9px;
                line-height: 12px;
              }
            }
          }
          &_headerontent_info__string {
            max-width: 100%;
          }
          &__activation {
            font-size: 10px;
            margin: 10px auto 10px;
            max-width: 90%;
          }
        }
      }
    }
  }
}