@import "../../scss/constants";

.section-footer {
  color: #979797;
  font-family: Roboto;
  font-weight: 400;
  text-align: center;

  &_provider {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 0;
    text-align: center;
    background-color: #41355c;

    .inner {
      max-width: 1040px;
      margin: 0 auto;
    }

    &__logo {
      padding: 20px 15px;
    }
  }

  &_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.205);

    &__link {
      color: #979797;
      text-transform: uppercase;
      text-decoration: none;
      padding-left: 15px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      &:after {
        content: "I";
        padding-left: 15px;
        pointer-events: none; //
      }
      &:last-child:after {
        content: "";
        padding-left: 15px;
      }
    }
    &__link:hover {
      //:not(section-footer_menu__link:after)
      color: #fff774;
    }
  }

  &_payment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.205);

    &__logo {
      padding: 30px 15px 40px 15px;
    }

    &__logo-mobile {
      display: none;
    }
  }

  &_text {
    padding: 20px 10px 25px 10px;
    font-size: 11px;
    line-height: 30px;
    letter-spacing: 0.02em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.205);

    &-short {
      padding: 0 23%;
      border-bottom: none;
      margin: 0;
      line-height: 24px;
    }
  }

  &_contacts {
    padding: 20px 0;
    // text-align: center;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &__number {
      background-image: url(../svg/Phone1.svg);
      background-position: left;
      background-repeat: no-repeat;
      padding: 0 30px;
      color: #fff;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      text-decoration: none;
    }
    &__number:hover {
      color: #fff774;
    }
    &__mail {
      background-image: url(../svg/email_icon1.svg);
      background-position: left;
      background-repeat: no-repeat;
      padding: 0 30px;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      color: #fff;
      text-decoration: none;
    }
    &__mail:hover {
      color: #fff774;
    }

    &__footer {
      width: 10px;
    }

    &__lang {
      display: none;
    }

    .social-footer {
      display: flex;
      justify-content: space-between;
      width: 220px;

      &-icon {
        width: 32px;
        height: 32px;
        background-position: center;
        padding: 0;
        border: none;
        font: inherit;
        color: red;
        background-color: transparent;
        cursor: pointer;
      }

      &__google {
        background-image: url(../svg/Google.svg);
      }
      &__vk {
        background-image: url(../svg/VK.svg);
      }
      &__fb {
        background-image: url(../svg/FB.svg);
      }
      &__twitter {
        background-image: url(../svg/Twitter.svg);
      }
      &__odnoklasniki {
        background-image: url(../svg/Odnoklasniki.svg);
      }
    }
  }

  &_rights {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    &__item {
      padding: 0 10px;
      // color: red;
    }
  }
}
@media (max-width: 1024px) {
  .section-footer {
    &_contacts {
      justify-content: space-between;
      padding: 20px;

      &__number {
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        padding: 0 0 0 30px;
        margin-bottom: 26px;
      }

      &__mail {
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        padding: 0 0 0 30px;
        margin-bottom: 26px;
      }
    }
  }
}

@media (max-width: 767px) {
  .section-footer {
    &_provider {
      .inner {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 15px;
        padding: 0 20px;

        img {
          max-width: 100%;
          padding: 10px 0;
        }
      }
    }

    &_menu {
      padding: 20px 0;

      &__link {
        font-size: 9px;
        line-height: 22px;
        padding-left: 10px;

        &:after {
          padding-left: 10px;
        }
      }
    }

    &_payment {
      padding: 15px 0;

      &__logo {
        padding: 10px 8px 10px 8px;
        max-height: 28px;
      }

      &__logo-mobile {
        display: block;
        flex-basis: 100%;
        max-height: 56px;
      }

      &__logo-desktop {
        display: none
      }
    }

    &_contacts {
      padding: 20px 10px;

      &__mail {
        color: #FFF774;
      }

      &__data {
        flex-basis: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &__lang {
        display: block;
      }

      .dropdown {
        position: relative;

        &-toggle {
          font-size: 14px;
          line-height: 16px;
          color: #FFFFFF;
          mix-blend-mode: normal;
          padding: 0;
          background: none;
          display: flex;
          align-items: center;
          align-content: center;

          &:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 7px 0 7px;
            border-color: #fff transparent transparent transparent;
            margin-left: 11px;
            vertical-align: middle;
            display: inline-block;
            transition: .3s;
          }
          &.active:after {
            transform: rotate(180deg);
          }
        }

        &-menu {
          position: absolute;
          bottom: 0;
          transform: translateY(100%)
        }

        &-item {
          display: block;
          height: 0;
          overflow: hidden;
          font-size: 14px;
          color: #FFFFFF;
          mix-blend-mode: normal;
          padding: 0 18px;
          text-decoration: none;
          transition: .5s;
          line-height: 0;
          background: #271c3f;
        }

        &-menu.active .dropdown-item {
          padding: 18px;
        }
      }

      .social-footer {
        width: 190px;
      }
    }

    &_text-short {
      padding: 0 10px;
      font-size: 7px;
      line-height: 12px;
      letter-spacing: 0.02em;
    }

    &_rights {
      flex-wrap: wrap;

      &__item:first-child {
        margin-bottom: 19px;
        font-size: 7px;
        line-height: 12px;
        letter-spacing: 0.02em;
        flex-basis: 100%;
      }
    }
  }
}

@media (min-width: 475px) and (max-width: 586px) {
  .section-footer {
    &_menu {
      &__link:nth-child(7):after {
        content: ''
      }
    }
  }
}

@media (min-width: 390px) and (max-width: 474px) {
  .section-footer {
    &_menu {
      &__link:nth-child(6):after {
        content: ''
      }
    }
  }
}

@media (max-width: 389px) {
  .section-footer {
    &_menu {
      &__link:nth-child(5):after {
        content: ''
      }
    }
  }
}
