@import "./constants";
@import "./reset";

// @import "~bootstrap/scss/bootstrap";
// @import "node_modules/bootstrap/scss/bootstrap";

.container {
  width: 1060px;
  padding: 0 10px;
  max-width: 100%;
  margin: auto;
}

body {
  background-color: #271c3f;
}

@import "../components/footer/footer";
@import "../components/header/header";
