.section-slider {
  position: relative;
  margin: auto;
  width: 100%;

  &_slider {
    font-size: 0;
    .slick-slider {
    }
    /* Ограничивающая оболочка */
    .slick-list {
      width: 100%;
      overflow: hidden;
    }
    /* Лента слайдов */
    .slick-track {
      width: 100%;
      display: flex;
      // align-content: start;
      // align-items: flex-start;
    }
    /* Слайд */
    .slick-slide {
      // min-width: 208px;
      // align-self: start;
    }

    /* Стрелка */
    .slick-arrow {
      position: absolute;
      top: calc(50% - 24px);
      z-index: 10;
      font-size: 0;
      width: 27px;
      height: 48px;

      border: none;
      outline: none;
      // color: #813849;
      opacity: 0.6;

      cursor: pointer;
    }
    .slick-arrow:hover {
      opacity: 1;
    }
    /* Стрелка влево */
    .slick-arrow.slick-prev {
      left: 0;
      margin-left: 30px;
      background: url(../svg/arrow_leftGrey.svg);
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
    /* Стрелка вправо */
    .slick-arrow.slick-next {
      right: 0;
      margin-right: 30px;
      background: url(../svg/arrow_rightGrey.svg);
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
    &__frame {
      position: relative;
      &-text {
        position: absolute;
        top: 6vw;
        left: 100px;
        width: 524px;
        header {
          span {
            font-weight: bold;
            color: #FFFFFF;
            font-size: 2.8vw;
            line-height: 3.8vw;
            letter-spacing: 0.06em;
            background-color: #2B223A;;
            box-shadow: -10px 0 0 #2B223A, 10px 0 0 #2B223A;
          }
        }
        article {
          margin-top: 0.5vw;
          span {
            color: #FFFFFF;
            font-size: 1.4vw;
            line-height: 31px;
            letter-spacing: 0.06em;
            background-color: #2B223A;;
            box-shadow: -10px 0 0 #2B223A, 10px 0 0 #2B223A;
          }
        }
        .section-slider-button {
          display: block;
          position: relative;
          text-align: center;
          text-transform: uppercase;
          margin: 1vw 0 0 -10px;
          background: #FF0636;
          border: 4px solid #28164E;
          box-shadow: 4px 6px 0 #28164E;
          border-radius: 5px;
          padding: 1vw;
          width: 350px;
          font-weight: 900;
          font-size: 36px;
          line-height: 42px;
          color: #fff;
          img {
            float: right;
          }
        }
      }
      &_bg {
        width: 100%;
      }
      &_offer {
        color: #fff;
        z-index: 10;
        position: absolute;
        top: 0;
        padding: 40px 0 0 0;
        margin-left: 10%;
        &__title {
          display: block;
          font-weight: bold;
          font-size: 48px;
          line-height: 45px;
          letter-spacing: 0.05em;
          // padding: 0 10px;

          span {
            display: block;
            width: max-content;
            // margin: 5px 0;
            padding: 0px 25px 10px 5px;
            background-color: #271c3f;
            // line-height: 35px;
            // height: 50px;
          }
        }
        &__title-small {
          margin-top: 13px;
          padding-top: 5px;
          font-weight: 400;
          font-size: 24px;
          line-height: 24px;
          letter-spacing: normal;
        }

        &__action {
          margin-top: 20px;
          width: 350px;
          height: 64px;
          box-shadow: 4px 6px 0 #28164e;
          border-radius: 5px;
          border: 4px solid #28164e;
          background-color: #ff0636;

          display: flex;
          justify-content: center;
          align-items: center;
          span {
            color: #ffffff;
            font-size: 36px;
            font-weight: 900;
            text-transform: uppercase;
          }
          img {
            padding-left: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .section-slider {
    &_slider {
      &__frame {
        height: 120px;
        img {
          height: 100%
        }
        &-text {
          position: absolute;
          top: 17px;
          left: 18px;
          width: 254px;
          header {
            span {
              font-weight: bold;
              color: #FFFFFF;
              font-size: 18px;
              line-height: 26px;
              letter-spacing: 0.06em;
              background-color: #2B223A;;
              box-shadow: -10px 0 0 #2B223A, 10px 0 0 #2B223A;
            }
          }
          article {
            display: none;
          }
          .section-slider-button {
            display: flex;
            align-items: center;
            margin: 10px 0 0 -10px;
            padding: 5px 15px;
            width: auto;
            font-size: 14px;
            line-height: 16px;
            border: 1.77143px solid #28164E;
            box-shadow: 1.77143px 2.65714px 0px #28164E;
            border-radius: 2.21429px;
            img {
              float: none;
              margin-left: 10px;
              height: 19px;
            }
          }
        }
      }
      .slick-arrow {
        display: none !important;
      }
    }
  }
}
